body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  align-items: stretch;
}

.header, .content {
  width: 1000px;
}

.hero, .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.section {
  padding: 100px 0px;
}

.content.first {
  display: flex;
  gap: 50px;
}

.hero, .footer {
  background-color: #1F2937;
}

.hero-main-text, .left, .title-action {
  color: #f9faf8;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.left {
  font-size: 24px;
  font-weight: 700;
}

.right {
  display: flex;
  gap:24px;
}

.hero-second-text, a, .footer, .sign-up-text {
  font-size: 18px;
  color: #e5e7eb;
}


.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

button {
  padding: 6px 32px;
  background-color: #3882F6;
  font-weight: bold;
  color: #f9faf8;
  font-size: 18px;
  border-radius: 10px;
  border: 0;
  margin-top: 10px;
}

.img-placeholder {
  background-color: rgb(115, 116, 128);
  width: 500px;
  flex: none;
  text-align: center;
  padding: 100px 0px 0px 0px;
  color: #e5e7eb;
  font-size: 16px;
}

.section-one-title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.section.card-section {
  padding: 50px 0px 100px 0px;
  gap: 50px;
}

.content.second {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  border-color: #3882F6;
  border-style: solid;
  border-width: 4px;
  border-radius: 15px;
  height: 150px;
  width: 150px;
}

.image-subtext {
  text-align: center;
  width: 150px;
  color: #545b63;
}

.section.grey {
  background-color: #e5e7eb;
}

.content.third {
  width: 790px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
}

.author {
  text-align: end;
  font-size: 24px;
  font-weight: bold;
  color: #1F2937;
}

.content.fourth {
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 50px 100px;
  width: 800px;
}

.title-action {
  font-weight: bold;
  font-size: 24px;
}

button.sign-up {
  border-style: solid;
  border-color: #f9faf8;
  border-width: 2px;
}

.footer {
  text-align: center;
  padding: 24px 0;
}