body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  align-items: center;
}

.hero, .footer {
  background-color: #1F2937;
}

.hero-main-text, .left {
  color: #f9faf8;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
}

.header {
  display: flex;
  justify-content: space-between;
}

.left {
  font-size: 24px;
  font-weight: 700;
}

.right {
  display: flex;
  gap:24px;
}

.hero, .content {
  flex: 1;
}

.hero-second-text, a, .footer {
  font-size: 18px;
  color: #e5e7eb;
}

.hero .content {
  display: flex;
  align-items: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

.footer {
  text-align: center;
  padding: 24px 0;
}